@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-top: 50px; margin-left: 510px; text-align: left;">
    <h1 class="display-4" style="font-weight: bold; color: #007bff; text-shadow: 2px 2px 4px rgba(0,0,0,0.3);">
        Hospital Latina
    </h1>
    <p style="font-size: 1.5rem; color: #343a40; margin-top: 20px; margin-left: 50px;">
        Su centro de preferencia
    </p>

</div>
