@model HospiLatina.Data.Entities.DetalleFactura

@{
    ViewData["Title"] = "Crear Detalle de Factura";
}

<h1>Crear Detalle de Factura</h1>

<div class="card">
    <div class="card-header">
        Crear Detalle de Factura
    </div>
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Factura" class="control-label"></label>
                <select asp-for="IdFactura" class="form-control" asp-items="ViewBag.IdFactura">
                    <option value="">Seleccione una factura</option>
                </select>
                <span asp-validation-for="IdFactura" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Subtotal" class="control-label"></label>
                <input asp-for="Subtotal" class="form-control" />
                <span asp-validation-for="Subtotal" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Factura.Paciente.Nombre" class="control-label">Paciente</label>
                <input asp-for="Factura.Paciente.Nombre" class="form-control" />
                <span asp-validation-for="Factura.Paciente.Nombre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Procedimiento" class="control-label"></label>
                <select asp-for="IdProcedimiento" class="form-control" asp-items="ViewBag.IdProcedimiento">
                    <option value="">Seleccione un procedimiento</option>
                </select>
                <span asp-validation-for="IdProcedimiento" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Crear" class="btn btn-outline-primary" />
                <a asp-action="Index" class="btn btn-outline-secondary ml-2">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
